.loading-spinner {
  width: 45px;
  height: 110px;
  margin: 1rem 0;

  background: url('/assets/image/loader.png');
  background-size: contain;
  background-repeat: no-repeat;
  
  animation: loading 0.6s infinite alternate ease-in-out;
  @keyframes loading {
      100% { 
        transform-origin: center center;
        transform: rotateY(180deg);
    }
  }
}

::ng-deep {
  .ngx-table {
    font-size: 1rem;
    font-family: var(--font-tertiary);

    td { border: none !important; }

    tr:nth-child(even) {
      background: #f6f7f9;
    }
  }

  .ngx-table__header {
    text-align: left;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: black;
    
    border-top: 2px solid currentColor !important; 
    border-bottom: 1.5px solid currentColor !important; 
  }

  .ngx-pagination-wrapper {
    margin-top: 1.4rem;
  }

  .ngx-pagination {
    display: flex;
    gap: 0.2rem;
    font-family: var(--font-secondary);

    li { border: none; }

    li.current {
      background: black;
      border-color: black;
    }
  }
}